body {
    margin: 0 auto;
    color: #82a5ca;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    max-width: 1200px;
}

#hero {
    background-image: url("images/galaxy.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px 0 40px 0;
    margin: 0 auto;
}

#main-logo {
    width: 100px;
    margin: 20px;
}

#title {
    text-shadow: 0px 0px 4px black;
}

.btn {
    padding: 6px 12px;
    background: white;
    border: none;
    font-family: 'Orbitron', sans-serif;
    color: #82a5ca;
    font-weight: 800;
}

.underline {
    border-bottom: 4px solid white;
}
